.btn {
    font: inherit;
    color: #2a2452;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 7rem;
}

.btn:hover,
.btn:active {
    background-color: cornflowerblue;
}