.title {
    margin-top: -25rem;
    margin-left: 20rem;
}

.form {
    margin: -10rem 20rem;
    height: 17rem;
    /*overflow: auto;*/
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    display: block;
}

.control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30rem;
    height: 2rem;
    max-width: 100%;
}

.control select {
    font: inherit;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    width: 30rem;
    height: 2rem;
    max-width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    font: inherit;
    color: #2a2452;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
    background-color: #9eb8ec;
}

.actions .submit {
    border: 1px solid #2a2452;
    background-color: #2a2452;
    color: white;
}

.actions .submit:hover,
.actions .submit:active {
    background-color: cornflowerblue;
}

.invalid label {
    color: #ca3e51;
}

.invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
}