.order {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.order h3 {
    margin: 0 0 0.25rem 0;
}

.description {
    font-style: italic;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: cornflowerblue;
    font-size: 1.25rem;
}

.btn {
    font: inherit;
    cursor: pointer;
    background-color: darkslateblue;
    border: 1px solid darkslateblue;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;

}

.btn:hover,
.btn:active {
    background-color: #2a2452;
    border-color: #2a2452;
}